html
  include templates/head.pug
  body
    .overlay 
    include templates/header.pug
    include templates/main.pug
    include templates/footer.pug
    script(type="text/javascript" src="public/scripts/index.js")    
    
