main
  section.passion
    .text
      h1 Our shoes are the best

      p We know you relized that's true. So go ahead to the nearest store selling your products. Pick up you favourite shoes (we know it's gonna be the random ones, because all your products are awesome) and amble to the cashier just to say deafeningly "shut up and take my money!".

      p Hasn't it got any sense to you? Don't worry, for us it has and it matters.

    
    .picture
      img.left-img(src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=334&q=80")

      img.right-img(src="https://images.unsplash.com/photo-1523314399-837f3e0c291b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=849e08590bcfafbb6771b7a5c1f95c91&auto=format&fit=crop&w=334&q=80")
    

  section.grid
    .grid-block
      .text
        h2 Anywhere you go we go eigher

        p Feel free to move wherever you want. Feel free to be at every place you can imagine. Feel free to do things with power of these shoes.

      img(src="https://images.unsplash.com/photo-1470282312847-28b943046dc1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb3f9877531c3a0e181de6e0ed52fc72&auto=format&fit=crop&w=1052&q=80")
      
    .grid-block
      .text
        p Our shoes are going to change your live. You know that, so what stops you? We know what it is - it's just your imagination (or your empty wallet).
        
      img(src="https://images.unsplash.com/photo-1508862842963-67ae79d4eded?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=956a3c2360de2bd2855383daef03e8d4&auto=format&fit=crop&w=334&q=80")
      
    .grid-block
      .text
        h2 
          div Don’t waste your time. 
          div We are waiting for you.
          
      img(src="https://images.unsplash.com/photo-1469793600887-89239d821d02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e96ef928109f711ae7a6ca260eecdde3&auto=format&fit=crop&w=1050&q=80")
    
  
    
    
